/* 
Barometer styles 
*/
.barometer-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  border-radius: 999px;
}

.barometer-container .meter {
  height: 100%;
  width: 100%;
  position: absolute;
}

.bar-needle__content {
  width: 290px;
  margin: 130px auto 0;
}

.bar-needle__legend {
  margin-top: -2px;
  margin-bottom: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.bar-needle__value {
  font-family: 'Abc_mono' I !important;
  font-size: 50px;
  letter-spacing: -1.5px;
  color: #e0dcd0;
}

.bar-needle__legend .bar-label {
  width: 40px;
  display: inline-block;
  margin-left: 8px;
  margin-right: -48px; /* offset to center the value (width+margin-left) */
  text-transform: none;
}

.bar-needle__status {
  text-align: center;
  font-size: 24px;
  color: #e0dcd0;
  letter-spacing: -0.5px;
  margin: 20px 0;
}

.bar-needle__status::first-letter {
  text-transform: capitalize;
}

.bar-needle__logo {
  text-align: center;
  margin-left: 9px; /* Optical centering due to trailing dot in logo */
}

.columns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 50px;
}

.column-value {
  font-size: 33px;
  font-family: 'Abc_mono';
  letter-spacing: -0.75px;
  color: #e0dcd0;
  display: flex;
  justify-content: center;
}
.bar-label {
  margin-top: 10px;
}

.pressure,
.bar-label,
.column-label,
.column-unit {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.125px;
  color: #808080;
}

.capitalize {
  text-transform: capitalize;
}

.pressure,
.bar-label,
.column-label::first-letter {
  text-transform: capitalize;
}

.column-label,
.column-value {
  text-align: center;
}

.column-unit {
  display: inline-block;
  width: 45px;
  margin-left: 8px;
  margin-right: -53px;
  text-align: left;
  color: #4d4d4d;
  text-transform: none;
  font-size: 11px;
}
