.presset-options { 
    height: 370px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid red;
}

.presset-options::before,
.presset-options::after {
    content: '';
    position: fixed;
    left: 0; 
    width: 100%;
}

.presset-options::before { 
    top: 0;
    height: 24px;
    background: linear-gradient(#000, rgba(0,0,0,0)); 
}

.presset-options::after { 
    bottom: 0;  
    height: 120px;
    background: linear-gradient(rgba(0,0,0,0), #000);  
}

.presset-options .presset-option-item { 
    color: #5E5E5E;
    font-size: 36px;
    line-height: 1;
    padding: 8px 60px;
}

.presset-options .presset-option-item.item-active {
    color: #fff;
}