.presset-options { 
    height: 260px;
    margin-top: 10px;
    overflow-y: auto;
    position: relative;
}

.presset-options .presset-option-item { 
    color: #5E5E5E;
    font-size: 36px;
    line-height: 1;
    padding: 8px 60px;
}

.presset-options .presset-option-item.item-active {
    color: #fff;
}