.presset-option-item {
  color: #5e5e5e;
  font-size: 36px;
  line-height: 52px;
  font-weight: lighter;
  height: 52px !important;
}

.item-active {
  color: #fff;
}

.presset-options {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 60px;
}

@keyframes bounce-next {
  0%,
  100% {
    transform: translateY(6px);
  }
  20% {
    transform: translateY(0);
  }

  34% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
}

/* bumping animation */
@keyframes bounce-prev {
  0%,
  100% {
    transform: translateY(-8px);
  }
  20% {
    transform: translateY(0);
  }

  34% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
}

.animation-next {
  animation: bounce-next 3.5s ease;
}

.animation-prev {
  animation: bounce-prev 3.5s ease;
}

.blur-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(#000, rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.blur-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), #000);
  z-index: 1;
}
