.circle-keyboard-container {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  fill: rgba(255, 255, 255, 0.5);
  font: normal 5.3px 'Maison';
}

.main-letter {
  position: absolute;
  top: 15px;
  text-align: center;
  font-size: 61px;
  font-family: 'Maison';
}

.letter-space {
  fill: rgba(255, 255, 255, 0.5);
  font: normal 4px 'fontello';
}

.main-letter-space {
  position: absolute;
  top: 35px;
  text-align: center;
  font-size: 33px;
  font-family: 'fontello';
}

.transition-all {
  transition: all 600ms cubic-bezier(.47,1.63,.41,.8);
}