.wifi-help-text {
  text-transform: none;
  font-size: 22px;
  color: #dddddd;
  text-align: left;
  justify-content: start;
  font-weight: 400;
  font-family: 'ABC Diatype Mono';
  height: fit-content;
  display: block;
  padding-top: 20px;
  padding-right: 20px;
}
