.connect-wifi-options {
  position: absolute;
  top: 0;
  right: 0;
  left: 50px;
  bottom: 0;
}

.connect-wifi-options > .swiper {
  z-index: 0;
}

.connect-wifi-option-item {
  font-size: 30px;
  font-weight: 500;
  justify-content: start;
}

.connect-wifi-option-item > .center {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr-wrapper {
  width: 140px;
  height: 140px;
  margin: auto;
}

.connect-wifi-fade-top {
  height: 180px;
}

.connect-wifi-fade-bottom {
  height: 100px;
}
