.wifi-options {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.wifi-options > .swiper {
  z-index: 0;
}

.wifi-option-item {
  font-size: 30px;
  line-height: 52px;
  font-weight: 500;
  justify-content: start;
  text-transform: lowercase;
}

.wifi-option-item > .center {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wifi-details {
  text-align: left;
}

.qr-wrapper {
  width: 120px;
  height: 120px;
  background-color: red;
}

.wifi-fade-top {
  height: 165px;
}

.wifi-fade-bottom {
  height: 155px;
}
