.response {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  width: auto !important;
}

.connect-response {
  text-transform: uppercase;
  font-size: 22px;
  color: #dddddd;
  text-align: left;
  width: 100%;
  justify-content: start;
  font-weight: 400;
  font-family: 'ABC Diatype Mono';
  height: fit-content;
  margin-top: 100px;
}

.connect-item {
  display: flex;
  margin-top: 4px;
  justify-content: space-between;
  height: 30px;
}

.connect-button {
  font-size: 22px;
  text-transform: uppercase;
}

.error-entry {
  color: #e74d4d;
}
