.wifi-options {
  position: absolute;
  top: 0;
  right: 0;
  left: 50px;
  bottom: 0;
}

.wifi-options > .swiper {
  z-index: 0;
}

.wifi-option-item {
  font-size: 30px;
  font-weight: 500;
  justify-content: start;
}

.wifi-option-item > .center {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wifi-details {
  text-align: left;
}

.qr-wrapper {
  width: 140px;
  height: 140px;
  margin: auto;
  margin-top: 10px;
}

.qr-container {
  width: 100%;
  text-align: left;
}

.wifi-fade-top {
  height: 165px;
}

.wifi-fade-bottom {
  height: 155px;
}

.item-qr {
  width: 100%;
  text-align: left;
}
