.main-quick-settings {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.quick-settings {
  height: 247px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-left: 29px;
}

.settings-item {
  text-transform: uppercase;
  border-radius: 4px;
  /* height: 35px !important; */
  font-size: 22px;
  color: #dddddd;
  text-align: left;
  width: 90%;
  justify-content: start;
  font-weight: 400;
  letter-spacing: 1.3px;
  font-family: 'Abc_mono';
  padding-left: 18px;
  white-space: nowrap;
}

.settings-entry {
  align-self: center;
  height: auto;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.settings-text {
  text-transform: none !important;
  font-size: 20px;
  align-self: center;
}

.active-setting {
  color: black;
  background: #f5c444;
  overflow: hidden;
}

.text-container {
  width: 100%;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
}
.text-container > span {
  display: inline-block;
}

@keyframes leftright {
  0%,
  20% {
    transform: translateX(0%);
    left: 0%;
  }
  80%,
  100% {
    transform: translateX(20%);
    left: -20%;
  }
}

.animate {
  position: relative;
  animation: leftright 6s infinite alternate ease-in-out;
}
