.main-quick-settings {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.quick-settings {
  height: 247px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-left: 29px;
}

.settings-item {
  text-transform: uppercase;
  border-radius: 4px;
  /* height: 35px !important; */
  font-size: 22px;
  color: #dddddd;
  text-align: left;
  width: 90%;
  justify-content: start;
  font-weight: 400;
  letter-spacing: 1.3px;
  font-family: 'ABC Diatype Mono';
  padding-left: 18px;
  white-space: nowrap;
}

.settings-entry {
  align-self: center;
  height: auto;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.active-setting {
  color: #1d1d1d;
  background: #f5c444;
  background: #f5c444;
  background: linear-gradient(
    90deg,
    #1d1d1d 0%,
    #1d1d1d 50%,
    #f5c444 50%,
    #f5c444 100%
  );
  background-size: 200% 100%;
  background-position: 100% 100%;
  overflow: hidden;
}

.animated-setting {
  animation: ActiveBackground 1s ease normal;
}

@keyframes ActiveBackground {
  0% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 100%;
    color: #ffffff;
  }
}

.separator {
  height: 2px !important;
  margin-bottom: 20px !important;
  margin-top: -5px;
  margin-left: 10px;
  border-top: 2px dashed #f5c44480;
  width: 80%;
}

.text-container {
  width: 100%;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
}
.text-container > span {
  display: inline-block;
}

@keyframes leftright {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(320px - 100%));
  }
}

.animate-marquee {
  position: relative;
  display: inline-block;
  animation: leftright 6s infinite alternate ease-in-out;
}
