.main-quick-settings {
  display: flex;
  align-items: center;
  height: 135%;
  width: 100%;
  justify-content: center;
}

.quick-settings {
  height: 247px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-left: 29px;
}

.settings-item {
  text-transform: uppercase;
  border-radius: 4px;
  height: 35px !important;
  padding-left: 18px;
  font-size: 22px;
  color: #dddddd;
  text-align: left;
  width: 100%;
  justify-content: start;
  font-weight: 400;
  letter-spacing: 2.2px;
  font-family: 'Abc_mono';
  width: 85%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.active-setting {
  color: black;
  background: #f5c444;
}
