.bottom-status {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 53px;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-status .bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-status .status-value {
  font-size: 25px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.625px;
  color: #e0dcd0;
  font-family: 'Abc_mono';
  position: relative;
  height: 25px;
}

.bottom-status .status-unit {
  color: #e0dcd0;
  position: relative;
  width: 24px;
  font-size: 12px;
  line-height: 1.8;
  align-items: flex-start;
  letter-spacing: 0;
  margin-left: 2px;
}

.bottom-status .funnel-container {
  margin-left: 10px;
  height: 23px;
  display: flex;
  align-items: center;
}

@keyframes bottomFadeIn {
  0% {
    opacity: 0.02;
  }
  24% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bottomFadeOut {
  0% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.3;
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.bottom__fadeIn {
  animation-name: bottomFadeIn;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.bottom__fadeOut {
  animation-name: bottomFadeOut;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
