.presset-title-top--vertical {
  top: -50px !important;
}

#default-profile-container .swiper-pagination {
  position: absolute !important;
  top: 50% !important;
}

#default-profile-container .swiper-slide {
  left: 30%;
  justify-content: flex-start;
}
