.presset-title-top--vertical {
  top: -50px !important;
}

#default-profile-container .swiper-pagination {
  position: absolute !important;
  top: 50% !important;
}

#default-profile-container .swiper-slide {
  justify-content: flex-start;
}
.default-profile-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-flow: row dense;
  height: 100%;
}
.default-profile-container__content {
  grid-column: span 3 / span 3;
  padding: 5px 10px;
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.default-profile-container__content__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.default-profile-container__content__info__text {
  display: block;
  text-align: left;
  word-break: break-word;
  word-break: auto-phrase; /* Not supported outside of chrome based browsers as of early 2025 */
}
.default-profile-container__content__info__text--active {
  color: #f5c444;
}
.default-profile-container__content__info__text--mb-10 {
  margin-bottom: 10px;
}
