.pressets-conainer {
  display: flex;
}

/* Temp */
.pressets-conainer {
  width: 480px;
  /* overflow-x: auto; */
}

.pressets-conainer > div:first-child {
  margin: 0 auto;
}

.swiper-horizontal .presset-item {
  min-width: 160px;
  max-width: 160px;
  opacity: 0.5;
}

.swiper-horizontal .presset-active {
  opacity: 1;
}

.swiper-horizontal .presset-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-horizontal .presset-icon svg {
  height: 166px;
  width: 166px;
  max-width: 100%;
  max-height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: inherit;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.preset-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.swiper-horizontal .swiper-slide {
  opacity: 0.15;
}

.swiper-horizontal .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.swiper-horizontal .swiper-slide-prev,
.swiper-horizontal .swiper-slide-next,
.swiper-horizontal .swiper-slide-active {
  transition: opacity 0.4s ease;
}

.title-swiper {
  position: absolute;
  z-index: 10;
  top: 0;
}

.title-swiper.transitioning::before,
.title-swiper.transitioning .swiper-slide-active .navigation-title {
  opacity: 0;
}

.title-swiper:before {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  right: 0;
  top: 80px;
  height: 50px;
  background-color: black;
}

.preset-wrapper .navigation-title {
  left: 0;
  right: 0;
}

/* animation scroll to the right spring and bounce back */
@keyframes bounce-right {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(20px);
  }
  70% {
    transform: translateX(-6px);
  }

  100% {
    transform: translateX(0);
  }
}

/* animation scroll to the left spring and bounce back */
@keyframes bounce-left {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-20px);
  }
  70% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(0);
  }
}

.animation-bounce-right {
  animation: bounce-right 500ms ease-out;
}

.animation-bounce-left {
  animation: bounce-left 500ms ease-out;
}

@keyframes pressets-left-leave {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animation-pressets-left-leave {
  animation: pressets-left-leave 300ms ease-out forwards;
}

@keyframes pressets-left-enter {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animation-pressets-left-enter {
  animation: pressets-left-enter 300ms ease-out forwards;
}

@keyframes pressets-right-enter {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animation-pressets-right-enter {
  animation: pressets-right-enter 300ms ease-out forwards;
}

@keyframes pressets-right-leave {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animation-pressets-right-leave {
  animation: pressets-right-leave 300ms ease-out forwards;
}

@keyframes presset-selected-increse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.animation-presset-selected-increse {
  animation: presset-selected-increse 200ms ease-out forwards;
}

@keyframes presset-selected-decrese {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.animation-presset-selected-decrese {
  animation: presset-selected-decrese 200ms ease-out forwards;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 6px;
  justify-content: center;
}

.pagination li {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  opacity: 0.12;
}

.pagination li.active {
  opacity: 1;
}

.preset-wrapper .pagination {
  position: absolute;
  left: 0;
  right: 0;
  top: 353px;
}

@keyframes moveTitleTop {
  0% {
    border: none;
    top: 80px;
    font-size: 26px;
    z-index: 99;
    text-transform: capitalize;
  }
  100% {
    top: 63px;
    font-size: 20px;
    z-index: 99;
    border: none;
    text-transform: capitalize;
  }
}

.animation-move-title-top {
  animation: moveTitleTop 250ms linear forwards;
}

@keyframes moveTitleTopTwo {
  0% {
    top: 110px;
    font-size: 26px;
    z-index: 99;
    border: none;
    text-transform: capitalize;
  }
  100% {
    top: 63px;
    font-size: 20px;
    z-index: 99;
    border: 1px solid #5d5d5d;
    text-transform: capitalize;
  }
}

.animation-move-title-top-two {
  animation: moveTitleTopTwo 250ms linear forwards;
}

@keyframes moveTitleBottom {
  0% {
    top: 63px;
    opacity: 0.4;
    font-size: 20px;
    border: none;
    text-transform: capitalize;
  }
  99% {
    opacity: 1;
  }
  100% {
    top: 110px;
    opacity: 1;
    font-size: 26px;
    z-index: 99;
    opacity: 0;
    border: none;
    text-transform: capitalize;
  }
}

.animation-move-title-bottom {
  animation: moveTitleBottom 250ms linear forwards;
}

.title-opacity-zero {
  opacity: 0;
}

@keyframes titleOpacityOne {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-title-opacity-one {
  animation: titleOpacityOne 250ms linear forwards;
}

@keyframes titleOpacityZero {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animation-title-opacity-zero {
  animation: titleOpacityZero 250ms linear forwards;
}

.presset-title-top {
  top: 110px !important;
  border: none !important;
  font-size: 26px !important;
  text-transform: capitalize !important;
  color: #e0dcd0;
}
