.os-info-text {
  text-transform: none;
  font-size: 22px;
  color: #dddddd;
  text-align: left;
  width: 100%;
  justify-content: start;
  font-weight: 400;
  font-family: 'Abc_mono';
  height: fit-content;
}

.os-info-failed {
  color: #f44336;
}
.os-info-complete {
  color: #ffc107;
}

.os-info-downloading {
  color: #ffc107;
}

.os-info-installing {
  color: #ffc107;
}
