.gauge-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.gauge-caption {
  position: absolute;
  font-weight: 400;
  font-size: 145px;
  text-align: center;
}

.gauge-unit {
  position: absolute;
  bottom: 183px;
  right: 75px;
  font-weight: 400;
  font-size: 40px;
}

.scalesLayout {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 12;
}

.scale-content {
  width: 100%;
  display: flex;
  height: 104px;
}

.scale-content .scale-level {
  font-size: 140px;
  line-height: 96px;
  width: 282px;
  text-align: right;
  margin: 0;
  font-family: 'Lato';
}

.scale-content .scale-unit {
  flex: 1;
  font-size: 24px;
  line-height: 186px;
  text-transform: uppercase;
}

.scale-pressure .scale-level {
  margin-left: 100px;
}

.scale-temp .scale-level {
  margin-left: 100px;
}

.scale-weight-limit .scale-level {
  margin-left: 88px;
}

.scale-flow .scale-level {
  margin-left: 70px;
  margin-right: 4px;
}

.opacity-20 {
  opacity: 0.2;
}
