.main-bubble {
  background: rgb(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

.bubble-container {
  background: #1d1d1d;
  height: 100%;
  width: 420px;
}

@keyframes bubbleEnter {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.bubble-enter-animation {
  animation: bubbleEnter 20ms ease-in forwards;
}

@keyframes bubbleLeave {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.bubble-leave-animation {
  animation: bubbleLeave 20ms ease-out forwards;
}
