/* Fonts */
@font-face {
    font-family: 'Open Sans';
    src: url('/src/assets/fonts/open-sans-v29-latin-regular.ttf');
}
@font-face {
    font-family: 'Lekton';
    src: url('/src/assets/fonts/Lekton-Regular.ttf');
}
body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: white;
    margin: 0;
}
.text-gray {
    color: #5E5E5E;
}
.flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}

/*-----------------------------*/
/* Layouts */

.main-layout {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-layout-content {
    /* margin-top: 56px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: calc(100% - 136px);  */
}

.main-layout .title-main-1 {
    position: absolute;
    top: 42px;
    left: 50%;
    right: 0;
    width: 170px;
    transform: translateX(-50%);
    text-align: center;
    color: #5E5E5E;
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-layout .title-main-2 { 
    text-align: center;
    font-size: 35px;
    line-height: 1;
}

.bottom-status {
    position: absolute;
    bottom: 24px;
    width: 100%;
}

.bottom-status .flex {
    justify-content: center;
} 

.bottom-status .flex:last-of-type .status-data {
    font-size: 18px;
}

.bottom-status .status-icon,
.bottom-status .status-value,
.bottom-status .status-data {
    line-height: 1;
    height: 28px;
    display: flex;
    align-items: end; 
}

.bottom-status .status-icon {
    width: 20px; 
    align-items: center;
    justify-content: center;
}

.bottom-status .status-icon svg {
    margin-top: 3px;
}

.bottom-status .status-value {
    width: 68px;
    font-size: 24px;
    justify-content: end;
    font-size: 24px;  
}

.bottom-status .status-data {
    color: #5E5E5E;
    width: 22px;
    justify-content: center;
    font-weight: 600; 
    font-family: sans-serif; 
    position: relative;
    font-size: 15px;
}

.bottom-status .status-temp-icon::after {
    content: '';
    position: absolute;
    right: -18px;
    top: 16px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid red; 
}

@keyframes pressetFadeIn {
    0%   { scale: 2.3; opacity: 0; }
     1%   { scale: 2.2887710646522135 }
     2%   { scale: 2.2569846087798475 }
     3%   { scale: 2.2075036179524643 }
     4%   { scale: 2.143167016438458 }
     5%   { scale: 2.066744306578139 }
     6%   { scale: 1.9808965132785652 }
     7%   { scale: 1.8881433821140827 }
     8%   { scale: 1.7908366794276782 }
     9%   { scale: 1.691139356625078 }
     10%   { scale: 1.591010268425776 }
     11%   { scale: 1.4921940758518444 }
     12%   { scale: 1.396215918675137 }
     13%   { scale: 1.3043804082250996 }
     14%   { scale: 1.2177744690713286 }
     15%   { scale: 1.1372735462238894 }
     16%   { scale: 1.0635506921520586 }
     17%   { scale: 0.9970880540707077; opacity: 1;}
     18%   { scale: 0.938190295518756 }
     19%   { scale: 0.8869995061862392 }
     20%   { scale: 0.8435111791791798 }
     21%   { scale: 0.8075908644178431 }
     22%   { scale: 0.7789911396611235 }
     23%   { scale: 0.7573685758101618 }
     24%   { scale: 0.7423004098050645 }
     25%   { scale: 0.733300675799291 }
     26%   { scale: 0.7298355826636078 }
     27%   { scale: 0.7313379626030487 }
     28%   { scale: 0.7372206512158128 }
     29%   { scale: 0.7468886932146193 }
     30%   { scale: 0.759750299881695 }
     31%   { scale: 0.775226513829691 }
     32%   { scale: 0.7927595635584033 }
     33%   { scale: 0.8118199144674947 }
     34%   { scale: 0.8319120443097743 }
     35%   { scale: 0.8525789895086227 }
     36%   { scale: 0.8734057243308888 }
     37%   { scale: 0.8940214476639576 }
     38%   { scale: 0.9141008621945492 }
     39%   { scale: 0.9333645382631144 }
     40%   { scale: 0.9515784597358312 }
     41%   { scale: 0.968552852082573 }
     42%   { scale: 0.9841403936768993 }
     43%   { scale: 0.9982339103573517 }
     44%   { scale: 1.0107636507286757 }
     45%   { scale: 1.0216942357595815 }
     46%   { scale: 1.03102137117058 }
     47%   { scale: 1.038768405116158 }
     48%   { scale: 1.0449828069561602 }
     49%   { scale: 1.0497326356769057 }
     50%   { scale: 1.053103058945056 }
     51%   { scale: 1.055192976023776 }
     52%   { scale: 1.056111790002515 }
     53%   { scale: 1.0559763671232534 }
     54%   { scale: 1.05490821354484 }
     55%   { scale: 1.0530308927733893 }
     56%   { scale: 1.0504677002840574 }
     57%   { scale: 1.0473396056349136 }
     58%   { scale: 1.0437634666784419 }
     59%   { scale: 1.0398505153470434 }
     60%   { scale: 1.0357051099485866 }
     61%   { scale: 1.031423744966946 }
     62%   { scale: 1.0270943060195246 }
     63%   { scale: 1.022795554867938 }
     64%   { scale: 1.018596827189701 }
     65%   { scale: 1.014557924170697 }
     66%   { scale: 1.0107291778373149 }
     67%   { scale: 1.0071516693753713 }
     68%   { scale: 1.0038575794385853 }
     69%   { scale: 1.000870649588288 }
     70%   { scale: 0.9982067344825338 }
     71%   { scale: 0.9958744252005511 }
     72%   { scale: 0.9938757251016541 }
     73%   { scale: 0.9922067608313498 }
     74%   { scale: 0.990858512458251 }
     75%   { scale: 0.9898175482125229 }
     76%   { scale: 0.9890667508616271 }
     77%   { scale: 0.9885860243667339 }
     78%   { scale: 0.9883529710813663 }
     79%   { scale: 0.9883435313539675 }
     80%   { scale: 0.988532578953095 }
     81%   { scale: 0.9888944672263806 }
     82%   { scale: 0.9894035223142241 }
     83%   { scale: 0.9900344810519293 }
     84%   { scale: 0.9907628723983493 }
     85%   { scale: 0.9915653423169717 }
     86%   { scale: 0.9924199230014505 }
     87%   { scale: 0.9933062481793584 }
     88%   { scale: 0.9942057169450988 }
     89%   { scale: 0.9951016091675307 }
     90%   { scale: 0.9959791559936031 }
     91%   { scale: 0.9968255693316317 }
     92%   { scale: 0.9976300344534421 }
     93%   { scale: 0.9983836700111699 }
     94%   { scale: 0.9990794598306247 }
     95%   { scale: 0.9997121608278992 }
     96%   { scale: 1.000278191308758 }
     97%   { scale: 1.0007755037609354 }
     98%   { scale: 1.0012034460473267 }
     99%   { scale: 1.0015626146626033; }
     100%   { scale: 1.0018547034360266; opacity: 1; }
  }

@keyframes pressetFadeOut {
    0%   { scale: 1; opacity: 1; }
     1%   { scale: 1.0112289353477864 }
     2%   { scale: 1.0430153912201523 }
     3%   { scale: 1.0924963820475357 }
     4%   { scale: 1.1568329835615418 }
     5%   { scale: 1.2332556934218613 }
     6%   { scale: 1.3191034867214346 }
     7%   { scale: 1.411856617885917 }
     8%   { scale: 1.5091633205723216 }
     9%   { scale: 1.6088606433749217 }
     10%   { scale: 1.7089897315742237 }
     11%   { scale: 1.8078059241481554 }
     12%   { scale: 1.9037840813248628 }
     13%   { scale: 1.9956195917749002 }
     14%   { scale: 2.082225530928671 }
     15%   { scale: 2.16272645377611; opacity: 0; }
     16%   { scale: 2.2364493078479413 }
     17%   { scale: 2.302911945929292 }
     18%   { scale: 2.361809704481244 }
     19%   { scale: 2.413000493813761 }
     20%   { scale: 2.45648882082082 }
     21%   { scale: 2.4924091355821565 }
     22%   { scale: 2.5210088603388763 }
     23%   { scale: 2.542631424189838 }
     24%   { scale: 2.557699590194935 }
     25%   { scale: 2.566699324200709 }
     26%   { scale: 2.5701644173363922 }
     27%   { scale: 2.568662037396951 }
     28%   { scale: 2.5627793487841872 }
     29%   { scale: 2.5531113067853806 }
     30%   { scale: 2.540249700118305 }
     31%   { scale: 2.524773486170309 }
     32%   { scale: 2.5072404364415966 }
     33%   { scale: 2.4881800855325054 }
     34%   { scale: 2.4680879556902253 }
     35%   { scale: 2.447421010491377 }
     36%   { scale: 2.4265942756691112 }
     37%   { scale: 2.405978552336042 }
     38%   { scale: 2.385899137805451 }
     39%   { scale: 2.3666354617368857 }
     40%   { scale: 2.3484215402641686 }
     41%   { scale: 2.3314471479174266 }
     42%   { scale: 2.3158596063231007 }
     43%   { scale: 2.301766089642648 }
     44%   { scale: 2.289236349271324 }
     45%   { scale: 2.278305764240418 }
     46%   { scale: 2.26897862882942 }
     47%   { scale: 2.2612315948838417 }
     48%   { scale: 2.2550171930438396 }
     49%   { scale: 2.2502673643230944 }
     50%   { scale: 2.2468969410549438 }
     51%   { scale: 2.244807023976224 }
     52%   { scale: 2.243888209997485 }
     53%   { scale: 2.2440236328767464 }
     54%   { scale: 2.24509178645516 }
     55%   { scale: 2.2469691072266107 }
     56%   { scale: 2.249532299715942 }
     57%   { scale: 2.252660394365086 }
     58%   { scale: 2.256236533321558 }
     59%   { scale: 2.260149484652956 }
     60%   { scale: 2.2642948900514135 }
     61%   { scale: 2.2685762550330537 }
     62%   { scale: 2.2729056939804755 }
     63%   { scale: 2.277204445132062 }
     64%   { scale: 2.2814031728102986 }
     65%   { scale: 2.2854420758293026 }
     66%   { scale: 2.2892708221626847 }
     67%   { scale: 2.2928483306246283 }
     68%   { scale: 2.2961424205614147 }
     69%   { scale: 2.299129350411712 }
     70%   { scale: 2.3017932655174658 }
     71%   { scale: 2.304125574799449 }
     72%   { scale: 2.3061242748983455 }
     73%   { scale: 2.30779323916865 }
     74%   { scale: 2.3091414875417486 }
     75%   { scale: 2.310182451787477 }
     76%   { scale: 2.3109332491383725 }
     77%   { scale: 2.3114139756332657 }
     78%   { scale: 2.3116470289186335 }
     79%   { scale: 2.3116564686460324 }
     80%   { scale: 2.311467421046905 }
     81%   { scale: 2.3111055327736194 }
     82%   { scale: 2.3105964776857757 }
     83%   { scale: 2.3099655189480703 }
     84%   { scale: 2.3092371276016506 }
     85%   { scale: 2.308434657683028 }
     86%   { scale: 2.3075800769985495 }
     87%   { scale: 2.3066937518206414 }
     88%   { scale: 2.305794283054901 }
     89%   { scale: 2.304898390832469 }
     90%   { scale: 2.3040208440063967 }
     91%   { scale: 2.303174430668368 }
     92%   { scale: 2.302369965546558 }
     93%   { scale: 2.30161632998883 }
     94%   { scale: 2.300920540169375 }
     95%   { scale: 2.3002878391721007 }
     96%   { scale: 2.299721808691242 }
     97%   { scale: 2.2992244962390647 }
     98%   { scale: 2.2987965539526733 }
     99%   { scale: 2.2984373853373965l  }
     100%   { scale: 2.2981452965639733; opacity: 0; }
}

@keyframes barometerFadeIn {
    0%   { scale: 0 }
     1%   { scale: 0.008637642575220284; opacity: 0; }
     2%   { scale: 0.03308876247704025 }
     3%   { scale: 0.07115106311348904 }
     4%   { scale: 0.12064075658580141 }
     5%   { scale: 0.17942745647835484 }
     6%   { scale: 0.24546422055494976 }
     7%   { scale: 0.31681278298916704 }
     8%   { scale: 0.3916640927479398 }
     9%   { scale: 0.4683543410576322 }
     10%   { scale: 0.5453767165955569 }
     11%   { scale: 0.621389172421658 }
     12%   { scale: 0.6952185240960485 }
     13%   { scale: 0.7658612244422309 }
     14%   { scale: 0.8324811776374395 }
     15%   { scale: 0.894404964443162 }
     16%   { scale: 0.9511148521907242; opacity: 1;}
     17%   { scale: 1.002239958407148 }
     18%   { scale: 1.0475459265240339 }
     19%   { scale: 1.086923456779816 }
     20%   { scale: 1.1203760160160154 }
     21%   { scale: 1.14800702737089 }
     22%   { scale: 1.1700068156452896 }
     23%   { scale: 1.1866395570691064 }
     24%   { scale: 1.1982304539961042 }
     25%   { scale: 1.2051533263082377 }
     26%   { scale: 1.2078187825664555 }
     27%   { scale: 1.2066631056899626 }
     28%   { scale: 1.202137960603221 }
     29%   { scale: 1.1947010052195237 }
     30%   { scale: 1.1848074616294655 }
     31%   { scale: 1.1729026816694685 }
     32%   { scale: 1.1594157203396898 }
     33%   { scale: 1.144753911948081 }
     34%   { scale: 1.1292984274540199 }
     35%   { scale: 1.1134007773010595 }
     36%   { scale: 1.0973802120531624 }
     37%   { scale: 1.0815219633354172 }
     38%   { scale: 1.0660762598503468 }
     39%   { scale: 1.051258047489912 }
     40%   { scale: 1.0372473386647452 }
     41%   { scale: 1.0241901137826361 }
     42%   { scale: 1.0121996971716158 }
     43%   { scale: 1.0013585304943449 }
     44%   { scale: 0.9917202686702494 }
     45%   { scale: 0.9833121263387835 }
     46%   { scale: 0.9761374067918615 }
     47%   { scale: 0.9701781499106477 }
     48%   { scale: 0.9653978408029538 }
     49%   { scale: 0.9617441264023803 }
     50%   { scale: 0.9591514931191877 }
     51%   { scale: 0.9575438645970954 }
     52%   { scale: 0.95683708461345 }
     53%   { scale: 0.9569412560590358 }
     54%   { scale: 0.9577629126578153 }
     55%   { scale: 0.9592070055589313 }
     56%   { scale: 0.9611786920891866 }
     57%   { scale: 0.9635849187423742 }
     58%   { scale: 0.966335794862737 }
     59%   { scale: 0.9693457574253512 }
     60%   { scale: 0.9725345308087796 }
     61%   { scale: 0.9758278884869644 }
     62%   { scale: 0.9791582261388272 }
     63%   { scale: 0.9824649577938939 }
     64%   { scale: 0.9856947483156145 }
     65%   { scale: 0.9888015967917715 }
     66%   { scale: 0.9917467862789886 }
     67%   { scale: 0.994498715865099 }
     68%   { scale: 0.9970326312010882 }
     69%   { scale: 0.9993302695474707 }
     70%   { scale: 1.0013794350134355 }
     71%   { scale: 1.0031735190764992 }
     72%   { scale: 1.0047109806910353 }
     73%   { scale: 1.0059947993605 }
     74%   { scale: 1.0070319134936532 }
     75%   { scale: 1.0078326552211363 }
     76%   { scale: 1.0084101916449022 }
     77%   { scale: 1.0087799812563585 }
     78%   { scale: 1.0089592530143336 }
     79%   { scale: 1.008966514343102 }
     80%   { scale: 1.008821093113004 }
     81%   { scale: 1.0085427175181687 }
     82%   { scale: 1.008151136681366 }
     83%   { scale: 1.0076657838062082 }
     84%   { scale: 1.0071054827705006 }
     85%   { scale: 1.006488198217714 }
     86%   { scale: 1.0058308284604227 }
     87%   { scale: 1.005149039862032 }
     88%   { scale: 1.0044571408114624 }
     89%   { scale: 1.0037679929480534 }
     90%   { scale: 1.0030929569279976 }
     91%   { scale: 1.0024418697448987 }
     92%   { scale: 1.001823050420429 }
     93%   { scale: 1.0012433307606385 }
     94%   { scale: 1.0007081078225963 }
     95%   { scale: 1.00022141474777 }
     96%   { scale: 0.9997860066855708 }
     97%   { scale: 0.9994034586454343 }
     98%   { scale: 0.9990742722712872 }
     99%   { scale: 0.9987979887210744 }
     100%   { scale: 0.9985733050492103; opacity: 1;}
}


@keyframes barometerFadeOut {
    0%   { scale: 1; opacity: 1; }
     1%   { scale: 0.9913623574247797 }
     2%   { scale: 0.9669112375229597 }
     3%   { scale: 0.9288489368865109 }
     4%   { scale: 0.8793592434141986 }
     5%   { scale: 0.8205725435216451 }
     6%   { scale: 0.7545357794450502 }
     7%   { scale: 0.683187217010833 }
     8%   { scale: 0.6083359072520602 }
     9%   { scale: 0.5316456589423678 }
     10%   { scale: 0.45462328340444313 }
     11%   { scale: 0.37861082757834197 }
     12%   { scale: 0.30478147590395155 }
     13%   { scale: 0.23413877555776907 }
     14%   { scale: 0.16751882236256055 }
     15%   { scale: 0.10559503555683802;  }
     16%   { scale: 0.048885147809275775 ;opacity: 0;}
     17%   { scale: -0.0022399584071479683 }
     18%   { scale: -0.04754592652403389 }
     19%   { scale: -0.08692345677981606 }
     20%   { scale: -0.12037601601601544 }
     21%   { scale: -0.14800702737089 }
     22%   { scale: -0.17000681564528963 }
     23%   { scale: -0.1866395570691064 }
     24%   { scale: -0.19823045399610417 }
     25%   { scale: -0.20515332630823768 }
     26%   { scale: -0.20781878256645547 }
     27%   { scale: -0.2066631056899626 }
     28%   { scale: -0.20213796060322098 }
     29%   { scale: -0.19470100521952372 }
     30%   { scale: -0.18480746162946549 }
     31%   { scale: -0.17290268166946854 }
     32%   { scale: -0.15941572033968976 }
     33%   { scale: -0.14475391194808096 }
     34%   { scale: -0.12929842745401987 }
     35%   { scale: -0.11340077730105946 }
     36%   { scale: -0.09738021205316238 }
     37%   { scale: -0.08152196333541717 }
     38%   { scale: -0.06607625985034682 }
     39%   { scale: -0.05125804748991203 }
     40%   { scale: -0.037247338664745167 }
     41%   { scale: -0.024190113782636136 }
     42%   { scale: -0.012199697171615842 }
     43%   { scale: -0.0013585304943448673 }
     44%   { scale: 0.008279731329750573 }
     45%   { scale: 0.01668787366121649 }
     46%   { scale: 0.02386259320813855 }
     47%   { scale: 0.029821850089352342 }
     48%   { scale: 0.034602159197046234 }
     49%   { scale: 0.03825587359761973 }
     50%   { scale: 0.04084850688081232 }
     51%   { scale: 0.042456135402904605 }
     52%   { scale: 0.04316291538655004 }
     53%   { scale: 0.043058743940964206 }
     54%   { scale: 0.042237087342184676 }
     55%   { scale: 0.04079299444106865 }
     56%   { scale: 0.038821307910813396 }
     57%   { scale: 0.036415081257625825 }
     58%   { scale: 0.03366420513726298 }
     59%   { scale: 0.03065424257464877 }
     60%   { scale: 0.027465469191220393 }
     61%   { scale: 0.024172111513035555 }
     62%   { scale: 0.020841773861172808 }
     63%   { scale: 0.017535042206106133 }
     64%   { scale: 0.014305251684385456 }
     65%   { scale: 0.011198403208228513 }
     66%   { scale: 0.008253213721011399 }
     67%   { scale: 0.00550128413490103 }
     68%   { scale: 0.002967368798911796 }
     69%   { scale: 0.0006697304525292713 }
     70%   { scale: -0.0013794350134355149 }
     71%   { scale: -0.0031735190764992094 }
     72%   { scale: -0.00471098069103526 }
     73%   { scale: -0.005994799360500069 }
     74%   { scale: -0.007031913493653175 }
     75%   { scale: -0.007832655221136298 }
     76%   { scale: -0.008410191644902199 }
     77%   { scale: -0.008779981256358482 }
     78%   { scale: -0.008959253014333646 }
     79%   { scale: -0.008966514343101917 }
     80%   { scale: -0.008821093113003942 }
     81%   { scale: -0.008542717518168708 }
     82%   { scale: -0.008151136681366022 }
     83%   { scale: -0.007665783806208193 }
     84%   { scale: -0.007105482770500604 }
     85%   { scale: -0.00648819821771407 }
     86%   { scale: -0.00583082846042271 }
     87%   { scale: -0.005149039862031968 }
     88%   { scale: -0.004457140811462423 }
     89%   { scale: -0.0037679929480534113 }
     90%   { scale: -0.0030929569279976032 }
     91%   { scale: -0.0024418697448986837 }
     92%   { scale: -0.0018230504204290732 }
     93%   { scale: -0.001243330760638539 }
     94%   { scale: -0.0007081078225963378 }
     95%   { scale: -0.00022141474776993242 }
     96%   { scale: 0.0002139933144291728 }
     97%   { scale: 0.0005965413545656606 }
     98%   { scale: 0.0009257277287127996 }
     99%   { scale: 0.0012020112789256077 }
     100%   { scale: 0.0014266949507897309; opacity: 0; }
}

.barometer__fadeIn {
    animation-name: barometerFadeIn;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.barometer__fadeOut {
    animation-name: barometerFadeOut;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.presset__fadeIn {
    animation-name: pressetFadeIn;
    /* animation-timing-function: cubic-bezier(.47,-0.16,.46,1.45); */
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.presset__fadeOut {
    animation-name: pressetFadeOut;
    /* animation-timing-function: cubic-bezier(.47,-0.16,.46,1.45); */
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

