
.icon-ok:before { content: '\e800'; } /* '' */
.icon-level-up:before { content: '\e801'; } /* '' */
.icon-up-bold:before { content: '\e802'; } /* '' */
.icon-floppy:before { content: '\e803'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
