.settings-container {
    width: 100%;
    height: 100%;
    position: fixed
}

.settings-options {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 72px;
  }

  .setting-option-item {
    color: #5e5e5e;
    font-size: 40px;
    line-height: 52px;
    font-weight: 500;
    font-family: 'Maison', sans-serif;
    justify-content: start;
  }

  .title {
    text-align: center;
    font-size: 35px;
    line-height: 1;
    z-index: 10;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Maison', sans-serif;
  }