.settings-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.settings-options {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-left: 72px;
}
.settings-options .swiper {
  z-index: 0;
}
.setting-option-item {
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
  font-family: 'Maison', sans-serif;
  justify-content: start;
}
